*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: inline-block;
}

.img_menulateral{
    width: 20px;
}
.Contenido{
    height: 90vw;
    width: 90vh;
    
    


}
.Galeria{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-flow: row;
    
    
   
    
   
    


}
.Galeria-img{
    
    width: 100%;
    height: 100%;
    padding: 5px;
    
    
    
    


}

.Galeria-img--4{
    grid-column: span 2;
    grid-row: span 2;
}

.Galeria-img--2f{
    grid-row: span 2;
}

.Galeria-img--2c{
    grid-column: span 2;
}